<html>

<head>

</head>

<body>
    <div id="DDL">
        <label for="name">請輸入 KKBOX 歌單ID:</label>
    </div>
    <div>
        <input type="text" id="playlist_id" name="playlist_id" required minlength="18" maxlength="18" size="20"
            value="OqvcU7OhhreaHHFltp">
        <button id="get_playlist">取得題目</button>
    </div>
    <button id="set_quiz">出題！</button>
    <div>
        <video id="video" controls="" autoplay="" name="media">
            <source src="" type="audio/mpeg">
        </video>
    </div>
    <button id="answer">解答！</button>
    <div>
        <label id="song_name">
            <h2 id="song_name_text"></h2>
        </label>
        <label id="singer">
            <h2 id="singer_text"></h2>
        </label>
        <label id="album_name">
            <h2 id="album_name_text"></h2>
        </label>
        <label id="release_date">
            <h2 id="release_date_text"></h2>
        </label>
        <img id="album" src="" with="100" heigh="100">
    </div>


    <!-- <div class="voiceinator">

            <select name="voice" id="voices">
                <option value="">Select A Voice</option>
            </select>
        
            <label for="rate">Rate:</label>
            <input name="rate" type="range" min="0" max="3" value="1" step="0.1">
        
            <label for="pitch">Pitch:</label>
        
            <input name="pitch" type="range" min="0" max="2" step="0.1">
            <textarea name="text">Hello! I love JavaScript ?</textarea>
            <button id="stop">Stop!</button>
            <button id="speak">Speak</button>
        
        </div> -->
    <script src="../static/main.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script>
        document.getElementById('set_quiz').style.visibility = 'hidden';
    </script>
</body>

</html>